/*lets have a fresh start*/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

* { margin: 0; padding: 0; position: relative; text-decoration: none; }

/*I need my clearfix*/
.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }


/*keep it together*/
.wrapper{
  width:100%;
  max-width: 1040px;
  margin: auto;
  background: #FFFFFF;
}

/*fonts*/

h1 {
  font-family: "chippewa-falls",sans-serif;
  color: white;
  font-size: 6em;
  font-weight: 100;
  letter-spacing: .02em;
}

p {
  font-family: "omnes-pro",sans-serif;
  color: rgb(162, 162, 162);
  font-weight: 200;
  font-size: 2.2em;
  line-height: 1.3em;
}

strong{
  color: #ff316c;
  font-weight: 300;
  font-style: normal;
}

a {
  color: rgb(15, 240, 223);
  font-weight: 400;
  -webkit-transition: all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a:hover {
  color: #ff316c;
}

a:active {
  color: #606060;
}

.button a{
  color:white;
  font-size: 2em;
}

.button a:hover{
  color: #ff316c;
}





/*header*/
.color-block {
  background: linear-gradient(#ff316c 49%, transparent 49%),
    linear-gradient(-45deg, white 33%, transparent 33%) 0 50%,
    white linear-gradient(45deg, white 33%, #ff316c 33%) 0 50%;
  background-repeat: repeat-x;
  background-size: 2px 99%, 40px 40px, 40px 40px;
  min-height: 100%;
  width: 100%;
  height: 22em;
  margin-bottom: 4em;
}

.title {
  margin: auto;
  position: absolute;
  top:0;
  margin-top: 3%;
  width: 100%;
  text-align: center;
  z-index: 100;
}

.head-pic {
  text-align: center;
  width: 100%;
  margin-top: -9.5%;
  position: fixed;
  bottom:0;
  z-index: 10;
}

img{
  max-width: 100%;
}



/*sections*/
section {
  background: rgba(255,255,255, 0.8);
  -webkit-box-shadow: 1px 5px 60px rgba(255, 153, 183, 0.57);
  -moz-box-shadow:    1px 5px 60px rgba(255, 153, 183, 0.57);
  box-shadow:         1px 5px 60px rgba(255, 153, 183, 0.57);
  border-radius:          20px; 
  -moz-border-radius:     20px; 
  -webkit-border-radius:  20px; 
  z-index: 20; 
  margin-top: -18%;
}

.bio {
  width: 100%;
  margin:auto;
  overflow: hidden;
  height: 1%;
  padding: 3% 4.5% 3% 4.5%;
}

/*social stuff*/
.social{
  width: 96%;
  height: 45px;
  text-align: right;
  margin-top: -3%;
  margin-bottom: 1%;
  margin-right: 2%;
}

.button {
  background: rgb(15, 240, 223);
  border-radius:          5px; 
  -moz-border-radius:     5px; 
  -webkit-border-radius:  5px; 
  width: 45px;
  height: 45px;
  margin-right: 8px;
  display: inline-block;
  padding-top: 5px;
  padding-right: 6px;
}

.tear{
  width: 40%;
  z-index: 25;
}


/*like media queries, duh*/
/*social break point*/
@media screen and (max-width: 950px){
  .social {
    margin-top: 1%;
    margin-bottom: 0;
  }
}

/*ipad portrait*/
@media screen and (max-width: 764px){
  section {
    margin-top: -27%;
  }

  h1 {
    font-size: 5em;
  }

  p {
    font-size: 1.7em;
    line-height: 1.4em;
  }

  .bio {
    padding: 5% 6% 4% 6%;
  }

  .social {
    margin-top: 1%;
    margin-bottom: 0;
    text-align: left;
  }

  .button {
    padding-top: 5px;
    padding-left: 6px;
  }

  .color-block {
    height: 21em;
  }
}

/*iphone landscape*/
@media screen and (max-width: 500px){
  h1 {
    font-size: 4em;
  }

  p {
    font-size: 1.4em;
  }

  .color-block {
    height: 14em;
    background-size: 2px 93%, 40px 40px, 40px 40px;
  }

  section {
    margin-top: -31%;
  }
}

/*iphone portrait*/
@media screen and (max-width: 370px){
  h1 {
    font-size: 3.3em;
  }

  p {
    font-size: 1.2em;
  }

  .color-block {
    height: 11em;
    background-size: 2px 93%, 40px 40px, 40px 40px;
  }

  section {
    margin-top: -38%;
  }

}

