/*generic all around*/
body{
  background: white;
}

h1{
  font-family: "chaparral-pro",sans-serif;
  font-size: 1.3em;
  text-align: center;
  font-weight: 400;
  color: #b0f4e7;
}

/*containers*/
.container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 8%;
  text-align: center;
}

.fourth {
  display: block;
  width: 100%;
}

.half {
  display: inline-block;
  width: 45%;
}

.block {
  display: inline-block;
  width: 42%;
  margin: 3.5%;
  margin-bottom: 4.5%;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

img {
  max-width: 100%;
}













@media screen and (max-width: 800px){
  h1{
    font-size: 1.5em;
  }

  .half {
    display: block;
    width: 100%;
  }
}


@media screen and (max-width: 500px){
  h1 {
    font-size: 1.2em;
  }

  .block {
    display: block;
    width: 90%;
  }

}