
  body, html, #demo {
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      display: block;
      margin: 0;
      padding: 0;
    }
    .rcWrapper {
      position:absolute;
      top:0; right: 0; bottom: 0; left: 0;
      width:100%;
      height:100%;
      overflow: hidden;
      z-index: 1;
    }
    .rcWrapper ul {
      position:absolute;
      top:0; right: 0; bottom: 0; left: 0;
      margin: 0;
      padding: 0;
      font-size:0;
      list-style-type:none;
      display:inline-block;
      white-space:nowrap;
      width:100%;
      height:100%;
    }

    .rcWrapper li {
      position:relative;
      margin: 0;
      padding:0;
      font-size:100px;
      display:inline-block;
      width:100%;
      height:100%;
      text-align:center;
      overflow:hidden;
      background-size: cover;
      background-position: 20% 50%;
    }
    .rcL, .rcR {
      position: absolute;
      top: 50%;
      margin-top: -20px;
      display: block;
      height: 30px;
      width: 30px;
      z-index: 2;
      background-size: cover;
      background-image: url('demo/arrowWhite.png');
    }
    .rcL.rcHide, .rcR.rcHide {
      display: none;
    }
    .rcL {
      position: absolute;
      left: 80px;
    }
    .rcR {
      position: absolute;
      right: 80px;
      -webkit-transform:rotate(180deg);
      -moz-transform:rotate(180deg);
      -ms-transform:rotate(180deg);
      -o-transform:rotate(180deg);
      transform:rotate(180deg);
    }
    footer {
      position: absolute;
      bottom: 0;
      height: 80px;
      width: 100%;
      text-align: center;
      z-index:3;
    }
    footer ul {
      padding: 0;
    }
    footer ul li {
      display: inline-block;
      height: 12px;
      width: 12px;
      -webkit-border-radius: 6px;
      background-color: white;
      color: transparent;
      margin: 0 10px;
    }
    footer ul li.rcPaginationHot {
      background-color: #555;
    }